{% extends 'base.html' %}

{% block content %}
<style>
  .center_div {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    background-color: #f1f1f1; 
  }
</style>

<div class="container-fluid">
  <div class="row content">
    {% include "sidebar.html" %}
    <div class="col-sm-9 main">
      <div id="msg"></div>
      <div class="center_div">
        <center><i style="font-size: 72px" class="fab fa-ethereum"></i></center>
        <h1 class="h3" style="text-align: center;">Add Your Address to Database</h1>
        <label for="AddressAdd">Address</label>
        <input id="AddressAdd" class="form-control" placeholder="address">
        <label for="zipcodeAdd">ZipCode</label>
        <input id="zipcodeAdd" class="form-control" placeholder="zip code">
        <hr>
        <button class="btn btn-primary btn-block" onclick="addAddress();"><i class="fas fa-plus"></i> Add</button>
      </div>
    </div>
  </div>
</div>

<script>
  function addAddress() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/address/add/';
    
    console.log($("#AddressAdd").val());
    console.log($("#zipcodeAdd").val());

    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        address: $("#AddressAdd").val(),
        zipcode: $("#zipcodeAdd").val()
      }),
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        alert("SUCCEEDED");
        window.location.reload();
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }
</script>

{% endblock %}
