{% extends 'base.html' %}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<div class="container-fluid">
  <div class="row content">
    {% include "sidebar.html" %}
    <div class="col-sm-9 main">
      <div class="row">
        <div id="msg"></div>
        <div class="col-md-6">
          <div class="panel panel-primary"> 
            <div class="panel-body">
              <div style="display:block;"> 
                <i style="font-size: 72px" class="pull-right fas fa-address-card"></i> 
                <h1 id="countAddress"></h1>
                <h4>Address</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel panel-primary"> 
            <div class="panel-body">
              <div style="display:block;"> 
                <i style="font-size: 72px" class="pull-right fas fa-file-signature"></i> 
                <h1 id="countClient"></h1>
                <h4>Clients</h4>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <h2>All Addresses</h2>
        <table id="allAddresses" class="table table-striped">
          <thead>
            <tr>
              <th>Address</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <hr>
        <h2>My Clients</h2>
        <table id="clients" class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
  let gAllAddresses = [];
  function getAllAddresses() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/address/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        gAllAddresses = [];
        $("#allAddresses tbody").empty();
        $("#countAddress").text(data.addresses.length);
        
        $.each(data.addresses, function(idx, ele) {
          gAllAddresses.push({"idx": idx, "address": ele.address});

          let tr = $("<tr>");
          tr.append($("<td>").text(ele.address));
          tr.append($("<td>").text(moment.utc(ele.createdAt).fromNow()));
          $("#allAddresses tbody").append(tr);
        });
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function getAllClients() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/client/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        $("#countClient").text(data.clients.length);
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  $(document).ready(function() {
    getAllAddresses();
    getAllClients();
  });
</script>

{% endblock %}
