{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<style>
  .center_div {
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    background-color: #f1f1f1; 
  }
</style>

<div class="container-fluid">
  <div class="row content">
    {% include "sidebar.html" %}
    <div class="col-sm-9 main">
      <div class="center_div">
        <center><i style="font-size: 72px" class="fas fa-file-signature"></i></center>
        <h1 class="h3" style="text-align: center;">Add Your Smart Contracts to Database</h1>
        <label for="title">Title</label>
        <input id="title" class="form-control" placeholder="Title">
        <label for="solidityCode">New Solidity Code</label>
        <textarea style="font-size: 16px;" class="form-control" rows="15" id="solidityCode"></textarea>
        <button class="btn btn-primary btn-block" onclick="saveSmartContract();"><i class="fas fa-plus"></i> Save to Database</button>
      </div>  
      <hr>
      <div class="center_div">
        <center><i style="font-size: 72px" class="fas fa-database"></i></center>
        <h1 class="h3" style="text-align: center;">All Smart Contracts in Database</h1>
        <label for="allSmartContracts">Existing Solidity Code in Database</label>
        <select class="form-control" id="allSmartContracts">
        </select>
        <pre><code class="language-javascript" id="theCode"></code></pre>
        <label for="allAddresses1">Address in Database</label>
        <select class="form-control" id="allAddresses1">
        </select>
        <label>Balance in the selected address: </label><span style="font-size: 22px;" id="theBalance1"></span>
        <button class="btn btn-primary btn-block" onclick="deploySmartContract();"><i class="fas fa-cube"></i> Deploy to Blackchain</button>
      </div>
      <hr>
      <div class="center_div">
        <center><i style="font-size: 72px" class="fas fa-cubes"></i></center>
        <h1 class="h3" style="text-align: center;">All Deployed Smart Contracts</h1>
        <label for="allDeployedSmartContracts">Deployed Smart Contracts</label>
        <select class="form-control" id="allDeployedSmartContracts">
        </select>
        <pre><code class="language-javascript" id="abi"></code></pre>
        <label for="allAddresses2">Address in Database</label>
        <select class="form-control" id="allAddresses2">
        </select>
        <label for="functions">Functions</label>
        <select class="form-control" id="functions">
        </select>
        <label for="parameters">Parameters</label>
        <input id="parameters" class="form-control" placeholder="Parameters">
        <label>Balance in the selected address: </label><span style="font-size: 22px;" id="theBalance2"></span>
        <button class="btn btn-primary btn-block" onclick="callTheFunction();"><i class="fas fa-cube"></i> Call A Function</button>
        <pre><code class="language-javascript" id="theResult"></code></pre>
      </div>
    </div>
  </div>
</div>

<script>
  let gAllSmartContracts = [];
  let gAllDeployedSmartContracts = [];
  let gIdxDeployedSc = null;

  function getAllDeployedSmartContracts() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/smartcontract/deployed/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        console.log(data);

        gAllDeployedSmartContracts = [];

        $.each(data.smartContracts, function(idx, ele) {
          $('#allDeployedSmartContracts').append(new Option(ele.address, ele.id));
          gAllDeployedSmartContracts.push({"idx": ele.id, "address": ele.address, "abi": JSON.parse(ele.abi)});
        });

        if (gAllDeployedSmartContracts.length > 0) {
          $('#allDeployedSmartContracts').trigger("change");
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function getAllSmartContracts() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/smartcontract/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        gAllSmartContracts = [];

        $.each(data.smartContracts, function(idx, ele) {
          $('#allSmartContracts').append(new Option(ele.title, ele.id));
          gAllSmartContracts.push({"idx": ele.id, "code": ele.code});
        });

        if (gAllSmartContracts.length > 0) {
          $('#allSmartContracts').trigger("change");
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function saveSmartContract() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/smartcontract/add';
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        title: $("#title").val(),
        code: $("#solidityCode").val()
      }),
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        alert("SUCCEEDED");
        window.location.reload();
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function getAllAddresses() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/db/address/all/';
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        // $("#allAddresses").empty();
        $.each(data.addresses, function(idx, ele) {
          $('#allAddresses1').append(new Option(ele.address, ele.address));
          $('#allAddresses2').append(new Option(ele.address, ele.address));
        });

        if (data.addresses.length > 0) {
          $('#allAddresses1').trigger("change"); 
          $('#allAddresses2').trigger("change"); 
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function getBalance(addr, id) {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/eth/balance/' + addr;
    
    $.ajax({
      type: 'GET',
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        $(`#theBalance${id}`).text(` ${data["balance"]}`);
        $(`#theBalance${id}`).text(` ${data["balance"]}`);
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function deploySmartContract() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/eth/smartcontract/deploy';
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        addr: $('#allAddresses1 option:selected').val(),
        idx: $('#allSmartContracts option:selected').val()
      }),
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        alert("SUCCEEDED");
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function callTheFunction() {
    const urlTarget = window.location.protocol + "//" + window.location.host + '/eth/smartcontract/deployed/invoke';
    $.ajax({
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        contractAddress: gAllDeployedSmartContracts.filter(x => x.idx == gIdxDeployedSc)[0].address,
        walletAddress: $('#allAddresses2 option:selected').val(),
        name: $('#functions option:selected').val(),
        parameter: $('#parameters').val()
      }),
      dataType: 'json',
      url: urlTarget,
      success: function(data) {
        $("#theResult").text(JSON.stringify(data));
        alert("SUCCEEDED");
      },
      error: function(xhr, textStatus, errorThrown) {
        $('#msg').text(`${textStatus}: [${xhr.status}] ${errorThrown}`);
      },
    });
  }

  function parseAbi(abi) {
    $('#functions').empty();
    $.each(abi, function(idx, ele) {
      $('#functions').append(new Option(ele.name, ele.name));
    });

    $('#functions').trigger("change");
  }

  $("#functions").change(function(e) {
    const abi = gAllDeployedSmartContracts.filter(x => x.idx == gIdxDeployedSc)[0].abi;
    const name = $(this).val();
    const theFunc = abi.filter(x => x.name == name);

    console.log(theFunc[0])
    if (theFunc[0].inputs.length == 0) {
      $("#parameters").prop('disabled', true);
    } else {
      $("#parameters").prop('disabled', false);
    }

    $("#theResult").text("");
  });

  $("#allSmartContracts").change(function() {
    const idx = $(this).val();
    const code = gAllSmartContracts.filter(x => x.idx == idx)[0].code

    $("#theCode").text(code);
    hljs.highlightAll();
  });

  $("#allDeployedSmartContracts").change(function() {
    gIdxDeployedSc = $(this).val();
    const code = gAllDeployedSmartContracts.filter(x => x.idx == gIdxDeployedSc)[0].abi;

    $("#abi").text(JSON.stringify(code, undefined, 2));
    hljs.highlightAll();

    parseAbi(code);
  });

  $("#allAddresses1").change(function() {
    getBalance($(this).val(), 1);
  });

  $("#allAddresses2").change(function() {
    getBalance($(this).val(), 2);
  });

  $(document).ready(function() {
    getAllAddresses();
    getAllSmartContracts();
    getAllDeployedSmartContracts();
  });
</script>

{% endblock %}
